---
title: Sitemap
description: Navigation and site structure
---

<div class="row">
	<div class="span6">
		{{h2 "Navigation"}}
		<ul>
		{{#nav.site.items}}
		{{>sitemap-item}}
		{{/nav.site.items}}
		</ul>
		<ul>
		{{#nav.site-right.items}}
		{{>sitemap-item}}
		{{/nav.site-right.items}}
		</ul>
	</div>
	
	<div class="span6">
		{{h2 "Site structure"}}
		<ul>
		{{#withSort pages "url_stripped"}}
		{{#match this.url "\.html$" true}}
		{{#isnt data.sitemap_hidden true}}
			<li>{{this.url_stripped}} - <a href="{{relative ../../this.page.url this.url}}">{{this.data.title}}</a></li>
		{{/isnt}}
		{{/match}}
		{{/withSort}}
		</ul>
	</div>
</div>
