---
title: Sitemap
description: Navigation and site structure
---
{{h2 "Navigation"}}
<ul>
{{#nav.site.items}}
{{>sitemap-item}}
{{/nav.site.items}}
</ul>
<ul>
{{#nav.site-right.items}}
{{>sitemap-item}}
{{/nav.site-right.items}}
</ul>

{{h2 "Site structure"}}
<ul>
{{#withSort pages "dest"}}
{{#match this.dest ".html$" true}}
	<li>{{replace this.dest "^build/(.*?)(index.html)?$" "$1" "i"}} - <a href="{{replace this.dest "^build(.*?)(index.html)?$" "$1" "i"}}">{{this.data.title}}</a></li>
{{/match}}
{{/withSort}}
</ul>